html{
    background-color: #473a2f;
}
.nav-bg{
    background-color: #a37a5a;
}
footer{
    background-color: #a37a5a;
}
.subtitulo{
    color: rgb(6, 8, 8);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}   
main{
    background-color: #a37a5a;
}
.bg-section{
    background-color: #af642b;
}
.p-bg{
color:antiquewhite;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 35pt;
}

/* Excluir depois, pois, isso se trata do fundo da segunda coluna. Apenas, para visualizar o limite da coluna. */
.segunda-col {
    background-color: aqua;
}
