
html{
    background-color: #473a2f;
}
.nav-bg{
    background-color: #a37a5a;
}
footer{
    background-color: #a37a5a;
}
.subtitulo{
    color: rgb(6, 8, 8);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}   
main{
    background-color: #a37a5a;
}
.bg-section{
    background-color: #a37a5a;
}
.p-bg{
color:antiquewhite;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 35pt;
}

.footer-bg{
    background-color: #c6aa74;
}
.p2-bg{
    background-color: #c6aa74;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35pt
}
